/* Home.css */
.hero {
  display: flex;
  height: 600px;
}

.hero-text {
  flex: 1;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.hero-text h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 50px;
  margin-bottom: 30px;
}

.btn-main {
  background: linear-gradient(135deg, darkblue, blue);
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 14px 28px;
  font-size: 16px;
}

.btn-main:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures image covers area without distortion */
}
